<div id="header">
    <a href="/"><img id="logo" src="/images/logo.png"></a>
    <div class="searchbar">
        <input type="text">
        <form action="/search">
            <input type="submit" value="Search">
            <!--<button type="button">Search</button>-->
        </form>
    </div>
    <div id="uploadProfile">
        <form action="/upload">
            <input type="submit" value="Upload">
            <!--<button type="button">Search</button>-->
        </form>
        <img src="/images/ice.png">
    </div>
</div>